.login-background{
        background: linear-gradient(#271e98, #74ce49) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        z-index: -10;
        
}
.login-background-image{
        height: 100%;
        width: 100%;
        position: fixed;
        top: 50%; 
        left: 50%;
        right: 0%;
        bottom: 0%;
        z-index: -5;

        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

}
.login-background-image img{
        width: 40%;
        position: fixed;
        margin: 0px;
        top: 45%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%) ;
        filter: blur(1px);
        min-width: 500px;
}
.login-background-text{
        height: 20%;;
        width: 100%;
        position: fixed;
        font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
        /* Verdana, tahoma; */
        text-align: center;
        top: 85%;
}
.login-background-text-content
{
        font-size: 4vw;
        /* color: rgb(255, 255, 255); */
        -webkit-text-fill-color: white; /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: rgba(212, 206, 206, 0);
        letter-spacing: 15px;
}
.login-card{
        position: fixed;
        height: 100%;
        width: 100%;
}
.login-card-body
{
        background-color: rgba(255, 255, 255, 0.3);
        height: 30%;
        width: 30%;
        top: 45%;
        left: 50%;
        position: fixed;
        transform: translate(-50%, -50%);
        border-radius: 15px;
        min-width: 400px;
        min-height: 250px;
        padding: 50px;
}
.login-form
{
        position: fixed;
        width: 60%;
        margin: auto;
        min-width: 350px;
        left: 50%;
        transform: translate(-50%);
        padding-top: 20px;
}
.login-container
{
        width: 100%;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 25px;  
}
.login-icon{
        position: fixed;
        vertical-align: middle;
        margin: 2px auto;
        padding: 4px;
        padding-left: 10px;
        display: table-cell;
        vertical-align: middle;
}
.login-input-field{
        width: 80%;
        text-align: center;
        min-width: 150px;
}
.login-button{
        width: 80%;
}
#login-message{
        display: none;
        position: fixed;
        top: 22%;
        left: 50%;
        transform: translate(-50%, -50%);
}
