*{
        margin:0;
        padding:0;
}
body
{
        height:24.9vh;
        background-image: url(icons/background.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
}
.div   
{
        position: fixed;
}
.header
{
        border-radius:15px; 
	background:#ffffff5c;
	padding: 30px 60px; 
	width: 700px; 
	height: 330px; 
	top:50%;
	left:50%;	
	position: fixed;
	margin-top:-240px;
	margin-left:-360px;
        overflow: hidden;
}
.container
{
        margin-top:auto;
        display:block;
        margin-bottom: auto;
        position: relative;
 }
.row
{
        margin-right: -75px;
        margin-left: -70px;
       
}
.header input 
{
        width: 30%;
        height: 40px;
        margin-bottom: 20px;
        margin-right:100px;
        font-family: Century Gothic;
        
}
.input-group
{
        width: 90%;
        margin-top: 30px;
        margin-left: 40px;
} 
.form-control
{
        text-align: center;
}
.btn-primary
{
        width:88%; 
        height:40px; 
        border-radius: 3px;
        margin-top:20px;
        margin-left:48px; 
}
.login-background{
        height: 100%;
        background-color: #1E6598; /* For browsers that do not support gradients */
        background-image: linear-gradient(#1E6598, #B6CE49); /* Standard syntax (must be last) */
}
.login-background-image{
        height: 100%;
        width: 100%;
        position: fixed;
        top: 50%; 
        left: 50%;
        right: 0%;
        bottom: 0%;
        z-index: -100;
}
.login-background-image img{
        width: 40%;
        position: fixed;
        margin: 0px;
        top: 40%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%) ;
        -webkit-blur: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter:blur(5px);
}

