.container
{
    padding-left:15px;
}
.well
{
    margin-top: 60px;
    color: white;
    background-color: #103d8a;
    margin-left: -15px;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 0px;
    width: 102%;
}