@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p 
{
    font-family: 'Poppins', sans-serif;
    /* font-size: 1.1em; */
    font-weight: 300;
    font-size: 15px;
    line-height: 1.7em;
    color: black;
    /* margin-top: inherit; */
}
a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
.navbar-default
{
    height:60px; 
    padding:10px;
}
.navbar {
    padding:5px 10px;
    background: white;
    border: none;
    border-radius: 0;
    margin-bottom: 0px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.nav-logo
{
  width:45px; 
  height: 50px; 
}
.nav-label
{
    font-family: Times New Roman; 
    font-size: 28px; 
    padding-left:8px; 
    padding-top:8px;
}
.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 0px 0;
}

.glyphicon-envelope
{
    margin-top:-10px;
    font-size: 20px;
}
.glyphicon-bell
{
    margin-top:-10px;
    font-size: 20px;
}
.glyphicon-user
{
    margin-top:-10px;
    font-size: 20px;
}

.glyphicon-th-large
{
    padding-left:20px; 
    padding-right: 10px; 
    font-size: 25px;
}
.glyphicon-list-alt
{
    padding-left:20px; 
    padding-right: 10px; 
    font-size: 25px;
}
.glyphicon-edit
{
    padding-left:20px; 
    padding-right: 10px; 
    font-size: 25px;
}
.glyphicon-duplicate
{
    padding-left:20px; 
    padding-right: 10px; 
    font-size: 25px;
}
.glyphicon-home
{
    padding-left:20px; 
    padding-right: 10px; 
    font-size: 25px;
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    margin-top:30px;
    min-width: 250px;
    /* height: -webkit-fill-available; */
    max-width: 250px;
    background: #fffafa;
    color: black;
    transition: all 0.3s;
    box-shadow: 1px 1px #d2cbcb;
}
#sidebar li.active
{
    background:#b7ab22f2;
}
#sidebar.active {
    margin-left: -250px;
}

#sidebar ul.components 
{
    padding: 20px 0;
}

#sidebar ul li a {
    padding: 20px;
    font-size: 2em;
    display: block;
    font-size: 15px;
}
#sidebar ul li a:hover {
    color: black;
    background: #64c13dad;
}

.sidebar ul li.active > a, a[aria-expanded="true"] 
{
    color: white;
    background:#dfdcdc
}


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
}
.dropdown-toggle
{
    padding-right: 28px;
}
.dropdown-toggle a
{
    padding-right: 30px;
}
.dropdown
{
    padding-left: 5px
}
.dropdown-menu .this
{
    background-color: white;
}
.dropdown-menu 
{
    position: absolute;
    top: 100%;
    /* left: 0; */
    z-index: 1000;
    /* display: none; */
    float: left;
    min-width: 220px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    /* -webkit-background-clip: padding-box; */
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    /* -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175); */
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.label
{
    border-radius: 10px;
}
.container-fluid
 {
    /* padding-right: 15px; */
    /* padding-left: 15px; */
    /* margin-right: auto; */
    /* margin-left: auto; */
    background: white;

}
.container
{
  width:2000px;
}
.panel
{
  margin-top: 0px;
  width: 105%;
  margin-bottom: 20px;
  background-color:#e3e5e378;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.table-hover
{
    background: #fefefe;
}
.table>tbody>tr>td,
{
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: middle;
    border-top: 1px solid #ada4a4;
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content 
{
    padding: 0px;
    min-height: 100vh;
    transition: all 0.3s;
}
.btn-primary
{
    width:90px;
}
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}