*{
        margin:0;
        padding:0;
}
body
{
        /* height:24.9vh; */
        height: -webkit-fill-available;
        background-image: url(icons/background1.jpg);
        /* background-size: cover; */
        background-repeat: no-repeat;
        background-position: center;
        overflow: hidden;
}
.Absolute-Center 
{
        margin: auto;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
}
.Absolute-Center.is-Responsive {
        width: 50%; 
        height: 50%;
        min-width: 200px;
        max-width: 400px;
        padding: 40px;
      }





/* .div   
{
        position: fixed;
} */

/* .wrapper 
{
        display: flex;
        align-items: stretch;
}
.col-lg-12 
{
        width: 50%;
}
.form-group 
{
        margin-bottom: 15px;
        margin-left: -39px;
}
.container
{
        border-radius:15px; 
	background-color:#e0dddd78;
	padding: 30px 60px; 
	width: 680px; 
	height: 330px; 
	top:55%;
	left:51.5%;	
	position: fixed;
	margin-top:-240px;
	margin-left:-360px;
}
.header input 
{
        width: 30%;
        height: 40px;
        margin-bottom: 20px;
        margin-right:100px;
        font-family: Century Gothic;
        
}
.input-group
{
        width: 90%;
        margin-top: 30px;
        margin-left: 40px;
} 
.form-control
{
        text-align: center;
}
.input-group .form-control 
{
        position: relative;
        z-index: 2;
        float: left;
        width: 30%;
        margin-bottom: 0;
}
.btn-primary
{
        width: 390px; 
        height:40px; 
        border-radius: 3px;
        /* margin-top:20px; */
        margin-left:110px; 
        margin-bottom:20px;
}  */
