.logs_table
{
    padding:15px;
}
.complist_table
{
    padding:15px;
}
.active_table
{
    padding:15px;
}
.inactive-table
{
    padding:15px;
}
.glyphicon-plus
{
    font-size: 25px;
    float: left;
}
.col-md-3
{
    width: 25%;
    margin-top: 20px;
}
.col-md-6
{
    padding-top: 5px;
}
.nav-tabs>li.active>a, 
{
    padding-right:45px;
}
.nav-tabs>li>a, 
{
    padding-right:45px;
}
.panel
{
  width: 103%;
  margin-bottom: 20px;
  background-color:#fdfdfd78;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0,0,0,.05); 
}
.container
{
    padding-left:15px;
}
.well
{
    margin-top: 60px;
    color: white;
    margin-left: -15px;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 0px;
    width: 102%;
}
.container-body
{
    overflow: hidden;
    margin-left:225px;
    margin-top:8px;
}
.table-bordered th, td
{
	text-align: center;
}
th
{
	height:50px;
}
thead th
{
	padding-bottom:15px;
}
.row table td
{
    padding-bottom:10px;
    padding-left:40px;
    text-align: left;
}
.tr-dept td
{
    padding-top:15px;
}
.tr-search
{
    padding-left:25px;
}
.input-search
{
    height:30px; 
    width: 500px; 
    margin-left: 0px;
}
.tr-dept select
{
    width: 285px;
    height:30px;
    margin-left: -340px;
}
/* .modal-body .table-bordered
{
    margin-left:80px;
} */
.modal-dialog
{
    width: 600px;
}
.modal-footer
{
    padding: 10px;
}
.modal-header
{
    padding: 10px;
} 
/* .modal-footer .btn-group button 
{
    height:40px;
    border-top-left-radius : 0;
    border-top-right-radius : 0;
    border: none;
    border-right: 1px solid #ddd;
} */
u
{
	float:left;
	padding-top: 9px;
}
.modal-body
{
    position: relative;
    padding: 10px;
    margin-bottom: -10px;
}
.modal-footer .btn-default
{
    width:80px;
    padding:5px;
}