.panel
{
    background-color: #e9e5e5;
    border: 2 solid transparent;
    border-radius: 4px;
    /* -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05); */
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    margin-bottom: 0px;
}
.panel-body
{
    padding: 15px;
}
.content
{
    /* padding-left:15px; */
    padding: 0px;
    min-height: 100vh;
    transition: all 0.3s;
}
.form-group {
    margin-bottom: 15px;
}
.form-horizontal .form-group 
{
    margin-right: -15px;
    margin-left: -15px;
}
.icon
{
    width: 100px;
    height: 100px;
}
.col-md-12
{
    padding-right:0px;
}
label 
{
    text-align: left;
    margin: 5px;
}
p 
{
    margin-left: 75px;
    margin:5px;
}
.btn-danger
{
    margin-left: -310px;
    padding-top: 3px;
    font-size:12px;
    padding:6px;
}
.form-horizontal .control-label 
{
    padding-top: 7px;
    margin-bottom: 0;
   float: left;
}
input
{
    margin-top: -30px;
    width: 250px;
}