.panel
{
    background-color: #e9e5e5;
    border: 2 solid transparent;
    border-radius: 4px;
    /* -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05); */
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    margin-bottom: 0px;
}
.container
{
    padding-left:15px;
}
.form-group {
    margin-bottom: 15px;
}
.form-horizontal .form-group 
{
    margin-right: -15px;
    margin-left: -15px;
}
.icon
{
    width: 100px;
    height: 100px;
}
.col-md-12
{
    padding-right:0px;
}
label .col-md-3 
{
    font-size:15px;
    text-align: left;
}
p .col-md-3 
{
    margin-left: 75px;
    padding-top: 0px;
}
.btn-danger
{
    margin-left: -310px;
    padding-top: 3px;
    font-size:12px;
    padding:6px;
}
.form-horizontal .control-label 
{
    padding-top: 7px;
    margin-bottom: 0;
   float: left;
}
.col-md-3
{
    position: relative;
    min-height: 1px;
    width:20%;
    /* padding-right: 0px;
    padding-left: 0px; */
}
input
{
    margin-top: -30px;
    width: 250px;
}