.panel
{
    background-color: #fff;
    border: 2 solid transparent;
    border-radius: 4px;
    /* -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05); */
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.container
{
    padding-left:15px;
}
.form-group {
    margin-bottom: 15px;
}
.form-horizontal .form-group 
{
    margin-right: -15px;
    margin-left: -15px;
}
.icon
{
    width: 100px;
    height: 100px;
}
.col-md-12
{
    padding-right:0px;
}
label .col-md-4 .control-label
{
    font-size:15px;
    text-align: left;
}
.col-md-4
{
    position: relative;
    min-height: 1px;
    /* padding-right: 0px;
    padding-left: 0px; */
}