@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
body {
  font-family: 'Open Sans', 'sans-serif';
}
img 
{
    float: left;
    margin: 0 0 10px 10px;
}
.center {
    margin-top:50px;   
}
.modal-header {
  padding-bottom: 5px;
  color: white;
}
.modal-footer 
{
  padding: 10;
}
.dropdown-toggle
{
  padding-right:30px;
}   
.modal-footer .btn-group button {
  height:40px;
  border-top-left-radius : 0;
  border-top-right-radius : 0;
  border: none;
  border-right: 1px solid #ddd;
}
.modal-footer .btn-group:last-child > button {
  border-right: 0;
}
.dropdown-menu .this{
  background-color: white;
}
.dropdown-menu 
{
  background-color:red;
}
