/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p 
{
    font-family: 'Poppins', sans-serif;
    /* font-size: 1.1em; */
    font-weight: 300;
    font-size: 15px;
    line-height: 1.7em;
    color: black;
    margin-top: inherit;
}
a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
.navbar-default
{
    height:60px; 
    padding:10px;
}
.navbar {
    padding:5px 10px;
    background: white;
    border: none;
    border-radius: 0;
    margin-bottom: 0px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.nav-logo
{
  width:45px; 
  height: 50px; 
}
.nav-label
{
    font-family: Times New Roman; 
    font-size: 28px; 
    padding-left:8px; 
    padding-top:8px;
}
/*.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}*/

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 0px 0;
}

.glyphicon-envelope
{
    margin-top:-10px;
    font-size: 20px;
}
.glyphicon-bell
{
    margin-top:-10px;
    font-size: 20px;
}
.glyphicon-user
{
    margin-top:-10px;
    font-size: 20px;
}

.glyphicon-th-large
{
    padding-left:20px; 
    padding-right: 10px; 
    font-size: 25px;
}
.glyphicon-list-alt
{
    padding-left:20px; 
    padding-right: 10px; 
    font-size: 25px;
}
.glyphicon-edit
{
    padding-left:20px; 
    padding-right: 10px; 
    font-size: 25px;
}
.glyphicon-duplicate
{
    padding-left:20px; 
    padding-right: 10px; 
    font-size: 25px;
}
.glyphicon-home
{
    padding-left:20px; 
    padding-right: 10px; 
    font-size: 25px;
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    margin-top:10px;
    min-width: 250px;
    height: -webkit-fill-available;
    max-width: 250px;
    background: #fffafa;
    color: black;
    transition: all 0.3s;
    box-shadow: 1px 1px #d2cbcb;
}
#sidebar li.active
{
    background:#b7ab22f2;
}
#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 10px;
    background: #b80303;
    height: 110px;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #b80303;
    padding: 10px;
        font-size: 20px;
}

#sidebar ul li a {
    padding: 20px;
    font-size: 2em;
    display: block;
    font-size: 15px;
}
#sidebar ul li a:hover {
    color: black;
    background: #64c13dad;
}

.sidebar ul li.active > a, a[aria-expanded="true"] 
{
    color: white;
    background:#dfdcdc
}


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #fff8c4b5;
}
.container-fluid {
    /* padding-right: 15px; */
    /* padding-left: 15px; */
    /* margin-right: auto; */
    /* margin-left: auto; */
    background: white;

}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    padding: 0px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}
