div
{
    display: block;
}
.glyphicon-plus
{
    font-size: 25px;
    float: left;
}
.container
{
    padding-left:15px;
}
.well
{
    margin-top: 60px;
    color: white;
    background-color: #000000;
    margin-left: -15px;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 0px;
    width: 102%;
}
.panel
{
  width: 102%;
  background-color:#fdfdfd78;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0,0,0,.05); 
}
.panel-heading
{
    height: 55px;
    background-color: #e4e3e0;
}
.table-bordered th, td
{
	text-align: center;
}
th
{
	height:50px;
}
thead th
{
	padding-bottom:15px;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    /* -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075); */
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    /* -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s; */
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-group {
    margin-bottom: 15px;
}
.form-horizontal .form-group {
    margin-right: -15px;
    margin-left: -15px;
}
.modal-body .form-horizontal .col-sm-4
{
    width: 100%;
}
.modal-body .form-horizontal .col-sm-8 
{
    width: 100%;
}
.modal-body .form-horizontal .control-label 
{
    text-align: left;
}
.modal-body .form-horizontal .col-sm-offset-2
 {
    margin-left: 15px;
}
label 
{
    display: inline-block;
    max-width: 100%;
    font-weight: bold;
}
.modal-header 
{
    min-height: 16.42857143px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}
.modal-body
{
    position: relative;
    padding: 15px;
    height: 570px;
}
.modal-body1
{
    position: relative;
    padding: 15px;
    height: 580px;
}
.modal-body2
{
    position: relative;
    padding: 15px;
    margin-bottom: -10px;
}
.modal-footer2
{
    padding: 10px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}
.btn-default
{
    font-size:12px;
}
.btn-success
{
    width:200px;
    margin-top:20px;
    display: flex;
    justify-content: center;
}   
.btn-warning
{
    width:200px;
    margin-top:20px;
    display: flex;
    justify-content: center;
}   
u
{
	float:left;
	padding-top: 9px;
}
.btn-primary
{
    width:100px;
}
.checkbox label, .radio label 
{
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
    margin-top: -15px;
}
