.glyphicon-plus
{
    font-size: 25px;
    float: left;
}
.container
{
    padding-left:15px;
}
.well
{
    margin-top: 60px;
    color: white;
    background-color: #103d8a;
    margin-left: -15px;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 0px;
    width: 102%;
}
.panel
{
  width: 102%;
  background-color:#fdfdfd78;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0,0,0,.05); 
}
.panel-heading
{
    height: 55px;
    background-color: #e4e3e0;
}
.table-bordered th, td
{
	text-align: center;
}
th
{
	height:50px;
}
thead th
{
	padding-bottom:15px;
}
.form-group {
    margin-bottom: 15px;
}
.form-horizontal .form-group {
    margin-right: -15px;
    margin-left: -15px;
}
.modal-body .form-horizontal .col-sm-2
{
    width: 100%;
}
.modal-body .form-horizontal .col-sm-10 
{
    width: 100%;
}
.modal-body .form-horizontal .control-label 
{
    text-align: left;
}
.modal-body .form-horizontal .col-sm-offset-2
 {
    margin-left: 15px;
}
.modal-header 
{
    min-height: 16.42857143px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}
.modal-body
{
    position: relative;
    padding: 15px;
    height: 500px;
}
.tr-dept select
{
    width: 250px;
    height:30px;
    margin-left: -30px;
}
/* .modal-body .table-bordered
{
    margin-left:80px;
}
.modal-dialog
{
    width: 600px;
}
/* .modal-header 
{
    padding-bottom: 10px;
    color: black;
    font-size: 22px;
    text-align: -webkit-left;
    background-color:#ffffff30;
} */
/* .modal-footer 
{
        padding: 10;
  
}     */ */
/* .modal-content
{
    width:500px;

} */
/* .modal-footer .btn-group button 
{
    height:40px;
    border-top-left-radius : 0;
    border-top-right-radius : 0;
    border: none;
    border-right: 1px solid #ddd;
} */
u
{
	float:left;
	padding-top: 9px;
}
.btn-primary
{
    width:100px;
}
/* .modal-form td
{
	padding:5px;
	padding-left:15px;
	text-align:left;
}
.modal-form .btn-success
{
    width: 250px;
    margin-top: 20px;
    margin-left: 35px;
    margin-bottom: 5px;
}
.modal-form .btn-primary
{
    width:200px;
    margin-left:60px;
    margin-top:0px;
} */
.dropdown-dept select
{
	width:320px;
	height:30px;
}
.dropdown-role select
{
	width:320px;
	height:30px;
}
.dropdown-status select
{
    width:320px;
	height:30px;
}
/* .modal-form input
{
	width:320px;
}
.modal-form td
{
	font-family: century gothic;
}
.modal-footer .btn-group:last-child > button 
{
    border-right: 0;
}
.modal-body
{
    padding:20px;
}
.modal-footer .btn-default
{
    width:80px;
    padding:5px;
} */