body
{
    background-color:#e3e3e3;
    font-family:Verdana, Tahoma, sans-serif;
}
.navbar-default
{
    background-color:#fffbfb; 
    height:70px; 
    padding:10px;
    /* padding-right:30px; */
}
.nav-logo
{
    width:50px; 
    height: 55px; 
}
.nav-label
{
    font-family: Times New Roman; 
    font-size: 28px; 
    padding-left:8px; 
    padding-top:8px;
}
.dropdown-toggle
{
    font-family: Century Gothic; 
    padding-top: 7px; 
    padding-left: 20px; 
    color: black;
}
.dropdown-header
{
    font-size:18px; 
    font-family: Century Gothic;
}
.sub-header
{
    font-size:18px; 
    padding:10px;
}
.modal-header
{
    background-color:#16811430;
}
.logout-modal
{
    padding: 20px 20px 10px 15px; 
    font-size: 18px;
}
.side-navbar
{
    width:270px;
    position:fixed;
    height:100%;
    border-radius:0px;
    z-index: -1;
    overflow: hidden;
    background-color:#fffbfb;
    padding-top:65px;
    box-shadow: 2px 2px #d2cbcb;
}
.side-navbar a 
{
    padding:10px 20px 10px 20px;
    font-size:20px;
    font-family: Century Gothic;
    text-decoration: none;
    color:black;
    display: block;
    background-color: #75bd508f;
    margin-top:10px;
    height:60px;
    border-radius: 3px;
    margin-left:5px;
    margin-right:5px;
}
.side-navbar p
{
    margin-top:-35px;
    margin-left:45px;
}
.side-navbar a:hover, .dropdown-btn:hover
{
    background-color:#eae91796;
    color: black;
}
.side-navbar img 
{
    margin-right:10px;
    width: 35px;
    height: 40px;
}
.side-navbar .active
{
    background-color:#eae91796;
}
.dropbtn 
{
    background-color: #4ca51f8f;
    color: black;
    /* padding:10px 20px 10px 20px; */
    font-size: 20px;
    border: none;
    cursor: pointer;
    font-family: Century Gothic;
    height:60px;
    margin-top:5px;
    width:260px;
    border-radius: 3px;
    margin-left:5px;
}	
.dropbtn-active
{
	background-color: #4ca51f8f;
	color: black;
	font-size: 20px;
	border: none;
	cursor: pointer;
	font-family: Century Gothic;
	height:60px;
	margin-top:5px;
	width:260px;
	border-radius: 3px;
	margin-left:5px;
}	
	/* Dropdown button on hover & focus */
.dropbtn-active:hover, .dropbtn-active:focus 
{
	background-color: #eae91796;
}
.dropbtn-active
{
    background-color: #eae91796;
}
.dropdown 
{
	position: relative;
	display: inline-block;
}
.dropdown-content 
{
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 270px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	text-align: center;
}
.dropdown-content a 
{
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
.dropdown-content a:hover 
{
	background-color: #ddd
}
.show 
{
    display:block;
}	
.info
{
    width:100%;
    background-color:#103d8a;
    top: 7.6%;
    padding: 10px;
    margin-left: 273px;
    height:45px;
    position: fixed;
    margin-top:-3px;
}
.info p
{
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left:5px;
    font-size:18px;
}
.container table
{
    width:1630px;
    height: 100%;
    margin-top:230px;
    margin-left:-105px;
    background-color:white;
}
.container-table
{
   overflow:hidden;
}
.form-control
{
    width:400px;
}
.table-viewing
{
   margin-left:287px; 
   margin-top:120px; 
   background-color: white; 
   width:90%; 
   padding:10px; 
   margin-right:100px;
   border:3px;
}
.table-bordered th, td
{
    text-align: center;
}
th
{
    height:50px;
}
thead th
{
    padding-bottom:15px;
}
td .btn-primary
{
    width:90px;      
}
td .btn-success
{
    width:90px; 
}
.modal-body .table-bordered
{
    margin-left:80px;
}
.modal-body
{
    padding:20px;
}
.modal-footer .btn-default, .btn-success
{
    width:120px;
}
.container
{
    width:100%;
    position: relative;
    padding-left:300px;
}
.row table
{
    background-color:#d2cdcd61;
}
.row table td
{
    padding-bottom:15px;
    padding-left:15px;
    text-align: left;
}
.tr-dept td
{
    padding-top:15px;
}
tr:hover
{
    background-color: #f5f5f5;
}
table select
{
    height:25px;
    width:200px;
}
.print-pdf
{
    padding-left:550px;
}
.export
{
    padding-right:120px;
}
.input-Status input
{
    text-align: center;    
}
.input-Remarks input
{
    text-align: center;
}
.pagination.pagination-sm
{
    display: inline-block;
    margin-left:274px; 
    margin-bottom:0px;
    position:sticky;
    margin-top:2px;
    background-color: #f1f1f1;
}
.pagination a
{
    color: black;
    padding: 20px 30px;
    text-decoration: none;
    float:right;
}
.pagination li a
{
        padding:10px;
}
.pagination a.active
{
    background-color: #4CAF50;
    color:white;
}
.pagination a:hover:not(.active)
{
    background-color: #ddd;
}
.glyphicon-th-large
{
    font-size:35px;
}
.glyphicon-list-alt
{
    margin-left:-65px;
    font-size:35px;
}
.glyphicon-edit
{
    font-size:35px;
}
.glyphicon-duplicate
{
    font-size:35px;
}
.glyphicon-envelope
{
    margin-top:-10px;
    font-size: 30px;
}
.glyphicon-bell
{
    margin-top:-10px;
    font-size: 30px;
}
.glyphicon-user
{
    margin-top:-10px;
    font-size: 30px;
}