.form-control
{
    width:600px;
}
.well
{
    margin-top: 60px;
    color: white;
    background-color: #103d8a;
    margin-left: -15px;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 0px;
    width: 103%;
}
.panel
{
  margin-bottom: 20px;
  background-color:#fdfdfd78;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0,0,0,.05); 
}
td
{
    vertical-align: middle;
}
th, td
{
    padding: 15px;
    text-align: center;
}
table
{
    border-collapse: collapse;
    width: 100%;
}
td .btn-primary
{
    width:90px;      
}
td .btn-success
{
    width:90px; 
}
.modal-body .table-bordered
{
    margin-left:80px;
}
.modal-header 
{
    padding-bottom: 5px;
    color: white;
}
.modal-footer 
{
        padding: 10;
  
}    
.modal-footer .btn-group button 
{
    height:40px;
    border-top-left-radius : 0;
    border-top-right-radius : 0;
    border: none;
    border-right: 1px solid #ddd;
}
  
.modal-footer .btn-group:last-child > button 
{
    border-right: 0;
}
.dropdown-menu .this{
    background-color: white;
}
.tr-dept td
{
    padding-top:25px;
}
.tr-search
{
    margin-bottom:20px;
}
.container
{
    padding-left:15px;
}
.col-md-6
{
    padding-top:20px;
}